<div class="row"><div class="small-10 small-offset-1 end columns">
    <div class="tweet-container" id="<%= tweet.id %>">
        <div class="tweet-placeholder">
            <strong>@<%= tweet.user.screen_name %>:</strong><br>
            <%= simple_format tweet.text %>
        </div>
    </div>
    <script type="text/javascript">
        twttr.widgets.createTweet(
            '<%= tweet.id %>',
            document.getElementById('<%= tweet.id %>'),
            {
                align: 'center',
                conversation: 'none'
            })
            .then(function() {
                $('#<%= tweet.id %> .tweet-placeholder').remove();
            });
    </script>
</div></div>