<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "TownSquared Code Test" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDYD9iYUsv5mQMj9CI2SIZAOcja-ifh-2E&libraries=places" %>
    <%= javascript_include_tag "https://platform.twitter.com/widgets.js" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
    <div class="wrapper">
        <header>
            <div class="row">
                <%= yield :header %>
            </div>
        </header>
        <div class="main">
            <div class="row">
                <%= yield %>
            </div>
        </div>
    </div>
</body>
</html>
